---
import config from "../../../config"
const campus = config.campus
const campusConfig = campus.find(c => c.internalName === "kanakapura")
import TopNavigationBar from "../../components/TopNavigationBar.astro";
import Star from "../../components/icons/Star.astro";
import StarStepIcon from "../../components/icons/StarStepIcon.astro";
import Footer from "../../components/landingPage/Footer.astro";
import Heading from "../../components/system/Heading.astro";
import Text from "../../components/system/Text.astro";

const academic = campusConfig?.academic
const colors = [
  ["#EFFAF8","primary","neutral-dark-grey"],
  ["#FCF8EB","black-100","neutral-dark-grey"],
  ["#EFFAF8","primary","neutral-dark-grey"],
  ["#FCF8EB","black-100","neutral-dark-grey"],
]
---

<TopNavigationBar/>

<div id="academics" style="scroll-margin: 60px;" class="p-xl px-0  flex flex-col justify-center gap-l scroll-m-14 max-sm:p-r max-sm:gap-r">
    <Heading first="Academic" second={"Landscape"} subtitle="Empowering Every Learner ">
    </Heading>
    {
      academic?.map((item,index) => {
        const rounded = index === 0
          ? "rounded-tl-[250px]"
          : index === academic.length - 1
            ? "rounded-bl-[250px]"
            : ""
        return <div class={`flex flex-col px-xl  justify-center gap-l max-sm:p-0`}>
                  <div style={`background: ${colors[index][0]}`}>
                    <div class="flex p-xl pr-0 justify-center gap-xl item-center max-md:flex-col max-md:p-r">
                      <div class="flex gap-r flex-col">
                        <div class="flex gap-r items-center">
                          <Text type='span'>
                            <StarStepIcon
                              step={item.starIcon || 'mini'}
                              class={`w-10 h-10 text-${colors[index][1]}`}
                            />
                          </Text>
                          <Text type="h3" class={`text-${colors[index][1]} font-bold`}>
                            {item.title}
                          </Text>
                        </div>
                        <p class="max-w-[70ch] text-xl max-sm:text-base">
                          {item.description}
                        </p>
  
  
                        {item.list?.map?.((value, idx) => (
                          <Fragment key={idx}>
                            <Text type="subtitle" class={`text-${colors[index][1]} `} style={{textAlign: "left"}}>
                              {value.title}:
                            </Text>
  
                            <ul class="flex flex-col gap-r">
                              {value.info?.map(item => (
                                <li class="text-xl flex gap-[7px] items-center max-sm:text-base">
                                    <span class={`text-${colors[index][1]} w-6 h-6`}>
                                      <Star
                                        class={`text-${colors[index][1]} w-6 h-6 max-sm:w-5 max-sm:h-5`}
                                      />
                                    </span>
                                    {item}
  
                                  </li>
                              ))}
                            </ul>
                          </Fragment>
                      ))}
  
                      </div>
                      <div class="">
                        <img
                          class={`${rounded} max-md:rounded-none h-[95%] max-md:h-[220px] object-cover`}
                          src={
                            item.images[0]
                          }
                        />
                      </div>
                  </div>
                  </div>
  
                </div>
      })
    }
  </div>

<Footer/>