---
import logo from '../../images/logo.svg'

import facebook from '../../icons/socials/Facebook.svg'
import instagram from '../../icons/socials/Instagram.svg'
import linkedin from '../../icons/socials/LinkedIn.svg'
import twitter from '../../icons/socials/Twitter.svg'
import youtube from '../../icons/socials/YouTube.svg'
import emailIcon from '../../icons/Email.svg'
import phoneIcon from '../../icons/Phone.svg'
import locationIcon from '../../icons/Location.svg'
import Text from '../system/Text.astro'
import Constrain from '../system/Constrain.astro'

---
<div
  class='w-full pt-12 flex flex-col items-center'
  style={{
    background: 'black'
    // background: `linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(${footerBG})`,
    // backgroundAttachment: 'fixed',
    // backgroundPosition: 'center 200px',
    // backgroundRepeat: 'no-repeat',
    // backgroundSize: 'cover'
}}>
  <div class='w-full px-16 max-md:px-6'>
    <Constrain class="flex flex-row max-md:flex-col justify-between">
      <div>
        <img src={logo} alt="Glentree's Logo" class="w-32 h-auto self-start">
        <div class='flex flex-row mt-6'>
          <a target="_blank" href="https://www.facebook.com/glentreeacademy" class='mr-5'>
            <div class='h-[19px]'>
              <img src={facebook} alt="Facebook Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://twitter.com/GlentreeAcademy" class='mr-5'>
            <div class='h-[19px]'>
              <img src={twitter} alt="Twitter Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.instagram.com/glentreeacademyofficial/" class='mr-5'>
            <div class='h-[19px]'>
              <img src={instagram} alt="Instagram Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.linkedin.com/company/glentreeacademy/" class='mr-5'>
            <div class='h-[19px]'>
              <img src={linkedin} alt="Linkedin Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.youtube.com/channel/UCaO_30stUpRzaz5FH1uHWJg" class='mr-5'>
            <div class='h-[19px]'>
              <img src={youtube} alt="Youtube Icon" class="w-full h-full">
            </div>
          </a>
  
  
        </div>
      </div>
  
      <div class='flex flex-row max-md:flex-col'>
        <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'base'} class='text-green-300 mb-7 max-md:mb-3 font-semibold'>Whitefield</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <img src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.wf@glentreeacademy.coms" class="hover:underline">
              <Text type={'regular'} class='ml-2'>admission.gaw@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <img src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+917899738130' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 7899738130</Text></a>
  
          </div>
  
          <div class='flex flex-row items-start mb-3 '>
            <div class='w-[2.25rem]'>
              <img src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://goo.gl/maps/1RTX2F4ZwJipSuEy9">
              <Text type={'regular'} class='ml-2'>Nallurhalli Rd, Palm Meadows, Nallurhalli, Whitefield, Bengaluru, Karnataka 560066</Text>
            </a>
          </div>
        </div>
        <div class='ml-16 max-md:ml-0 max-w-[325px]'>
          <Text type={'base'} class='text-green-300 mb-7 max-md:mb-3 font-semibold'>Sarjapur</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <img src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.gas@gltreeacademy.com" class="hover:underline w-[90%]">
              <Text type={'regular'} class='ml-2'>admission.gas@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <img src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+919632104368' class="hover:underline"><Text type={'regular'} class='ml-2'>+91 9632104368</Text></a>
          </div>
  
          <div class='flex flex-row items-start mb-3 '>
            <div class='w-[2.25rem] mr-1'>
              <img src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://goo.gl/maps/2WjJv85fKSJg6yfm6">
              <Text type={'regular'} class='ml-2'>No.36/5,Halanayakanahalli,Varthur Hobli Bengaluru East Taluk,Bengaluru, Karnataka 560035</Text>
            </a>
          </div>
        </div>
        
      </div>
    </Constrain>
  </div>

  <div class='w-full h-[1px] bg-gray-500/40 mt-12 max-md:mt-5 max-md:w-[85%]'></div>

  <div class='py-6 font-normal px-16 w-full  max-md:px-6 text-center'>
    <Constrain class="flex flex-row max-md:flex-col">
      <Text type={'regular'}>
        Copyright © 2023 &nbsp;
      </Text>
      <Text type={'regular'}>
        {' • '} Mandatory CBSE Public Disclosure: 
        <a 
          href="/mandatory-public-disclosure-whitefield" 
          class="underline"
        >Whitefield</a>
        <span>{' | '}</span>
        <a 
          href="/mandatory-public-disclosure-sarjapur"
          class="underline"
        >Sarjapur</a>
      </Text>

    </Constrain>
  </div>
</div>