---
import '../../global.css'
const { campusName = '' } = Astro.params
import astronautKidsAdmissionBG from '../../images/astronautKidsAdmissionBG.png';
import config from "../../../config"
import Heading from "../../components/system/Heading.astro"
import Text from "../../components/system/Text.astro"
import TopNavigationBar from "../../components/TopNavigationBar.astro"
import Footer from "../../components/landingPage/Footer.astro"
import Testimonial from '../../components/landingPage/Testimonial.astro';
import GoToCta from '../../components/GoToCta.astro';
import Connect from '../../components/campus/Connect.astro';

const campus = config.campus;
const campusknk = campus.find(c => c.internalName === "kanakapura");
const campusMrth = campus.find(c => c.internalName === "marathahalli");
const contact = campusknk?.contact;

const leaderMessageknk = campusknk?.leaderMessage;
const leaderMessageMrth = campusMrth?.leaderMessage;

export function getStaticPaths() {
  return [
    { params: { campusName: "kanakapura" } },
    { params: { campusName: "marathahalli" } },
  ];
}
---
<TopNavigationBar/>

<div class='min-h-[512px] max-h-[512px] w-full flex justify-center items-center flex-col max-md:min-h-[350px]' style={{
    background: `linear-gradient(180deg, rgba(18, 18, 18, 0) -21.78%, rgba(0, 0, 0, 0.7) 68.07%), url(${astronautKidsAdmissionBG})`,
    backgroundPosition: '90% 50%',
    backgroundRepeat: 'no-repeat',
    backgroundSize: 'cover',
  }}>
    <Text type={'h2'} class='mt-14 font-bold max-md:mt-10 text-yellow'>Principal's note</Text>
    <Text type={'base'} class='mt-3 text-center max-md:w-[90%] text-white' >{`${campusName.charAt(0).toUpperCase() + campusName.substring(1)} Campus`}</Text>
  </div>

  {
    campusName !== 'marathahalli' ? (
      <div class="flex p-xl justify-center gap-l flex-col scroll-mt-24 max-sm:p-l" id="principal-note">
        <Heading first="Principal's" second={"Note"} subtitle="A GUIDING MESSAGE FROM OUR LEADER" />
        <div class="flex items-center justify-center gap-l max-sm:flex-col">
          <img class="w-[450px] h-[350px] object-cover " src={leaderMessageknk?.[0].image} alt="" />
          <div class="flex flex-col gap-r">
            <Text type="regular" class="max-w-[73ch] text-neutral-dark-grey">
              {leaderMessageknk?.[0].body}
            </Text>
            <Text type="span" class='text-black-100 uppercase font-display tracking-[1.8px] font-semibold max-md:text-sm'>
              {leaderMessageknk?.[0].name}
            </Text>
          </div>
        </div>
      </div>
    ) :
     <div class="flex p-xl justify-center gap-l flex-col scroll-mt-24 max-sm:p-l" id="principal-note">
        <Heading first="Principal's" second={"Note"} subtitle="A GUIDING MESSAGE FROM OUR LEADER" />
        <div class="flex items-center justify-center gap-l max-sm:flex-col">
          <img class="w-[450px] h-[350px] object-cover " src={leaderMessageMrth?.[0].image} alt="" />
          <div class="flex flex-col gap-r">
            <Text type="regular" class="max-w-[73ch] text-neutral-dark-grey">
              {leaderMessageMrth?.[0].body}
            </Text>
            <Text type="span" class='text-black-100 uppercase font-display tracking-[1.8px] font-semibold max-md:text-sm'>
              {leaderMessageMrth?.[0].name}
            </Text>
          </div>
        </div>
      </div>
  }

<Testimonial/>

<div id="contact-us" style="scroll-margin: 60px;">
  <Connect {
    ...contact
  } />
</div>

<GoToCta/>

<Footer/>