---
const { campusName = '' } = Astro.params
import config from '../../config'
import Button from '../components/system/Button.astro'
const campus = config.campus
const campusConfig = campus.find(c => c.internalName === campusName)
import Layout from '../layouts/Layout.astro'
import Hero from './Hero.astro'
import BreadCrumb from '../components/system/BreadCrumb.astro'
import Showcase from './Showcase.astro'
import Heading from '../components/system/Heading.astro'
import Text from '../components/system/Text.astro'
import StarStepIcon from '../components/icons/StarStepIcon.astro'
import Image from '../components/system/Image.astro'
import Testimonial from '../components/landingPage/Testimonial.astro'
import Connect from '../components/campus/Connect.astro'
import GoToCta from '../components/GoToCta.astro'
import Footer from '../components/landingPage/Footer.astro'
import TopNavigationBar from '../components/TopNavigationBar.astro'
import Star from '../components/icons/Star.astro'
const leaderMessages = campusConfig?.leaderMessage 
const academic = campusConfig?.academic
const facilities = campusConfig?.facilities
const contact = campusConfig?.contact
const toppers = campusConfig?.toppers
const navigationData = [
  {label: 'Academics', for: "academics"},
  {label: 'Life At Insight', for: "life-at-insight"},
  {label: 'Achievements', for: "achievements"},
  {label: 'Contact Us', for: "contact-us"},
]
const colors = [
  ["#EFFAF8","primary","neutral-dark-grey"],
  ["#FCF8EB","black-100","neutral-dark-grey"],
  ["#EFFAF8","primary","neutral-dark-grey"],

]
const rounded = [
  "rounded-tl-[250px]", "", "rounded-bl-[250px]"
]
---
<Layout title='Welcome'>
  <TopNavigationBar />
<div
  class="h-[90vh]"
>
    <Hero
      config={
        {
          title: campusConfig?.title,
         
        }
      }
       slideImages={ campusConfig?.images.map(item => ({
        "slide": item, position: 'center'
      }))}
      showSlide={true}
      contentDirection="items-end"
      bgImageBgColor="linear-gradient(359deg, #1B2226 0%, rgba(19, 112, 167, 0.00) 100%)"
    >
    <div slot="title">
      {campusConfig?.title ? <Text type="h2" class="mt-auto font-bold text-yellow">{campusConfig?.title}</Text> : null}
    </div>
    <div slot="subHeading">
      {campusConfig?.description ? <Text type="p" class="max-w-[57ch]">{campusConfig?.description}</Text> : null}
    </div>
    </Hero>
</div>
<BreadCrumb
    items={navigationData}
    label={"Jump To"}
    class={'bg-white'}
  />
<Showcase
  title="Events Bulletin"
/>

<!-- section  -->
<div class="flex p-xl justify-center gap-l flex-col">
  <Heading first="Principal’s" second={"Note"} subtitle="A GUIDING MESSAGE FROM OUR LEADER" />
  <div class="flex items-center justify-center gap-l max-sm:flex-col">
    <img src={
      leaderMessages?.[0].image
    } alt="">
    <div class="flex flex-col gap-r">
      <Text type="regular" class="max-w-[73ch] text-neutral-dark-grey">
        {leaderMessages?.[0].body}
      </Text>
      <Text type="span" class='text-black-100 uppercase font-display tracking-[1.8px] font-semibold'>
        {leaderMessages?.[0].name}
      </Text>
    </div>
  </div>
</div>
<!-- section  -->
<div id="academics" style="scroll-margin: 60px;" class="p-xl px-0  flex flex-col justify-center gap-l scroll-m-14 max-sm:p-r max-sm:gap-r">
  <Heading first="Academic" second={"Landscape"} subtitle="Empowering Every Learner ">
  </Heading>
  {
    academic?.map((item,index) => {
      return <div class={`flex flex-col p-xl  justify-center gap-l max-sm:p-0`}> 
                <div style={`background: ${colors[index][0]}`}>
                  <div class="flex p-xl pr-0 justify-center gap-xl item-center max-md:flex-col max-md:p-r">
                    <div class="flex gap-r flex-col">
                      <div class="flex gap-r items-center">
                        <Text type='span'>
                          <StarStepIcon
                            step='mini'
                            class={`w-10 h-10 text-${colors[index][1]}`}
                          />
                        </Text>
                        <Text type="h3" class={`text-${colors[index][1]} font-bold`}>
                          {item.title}
                        </Text>
                      </div>
                      <p class="max-w-[70ch] text-xl max-sm:text-base">
                        {item.description}
                      </p>
                      <Text type="subtitle" class={`text-${colors[index][1]} `} style={{textAlign: "left"}}>
                        highlights: 
                      </Text>
                      <ul class="flex flex-col gap-r">
                        {item.highlights?.map(item => {
                          return <li class="text-xl flex gap-[7px] items-center max-sm:text-base">
                              <span class={`text-${colors[index][1]} w-6 h-6`}>
                                <Star
                                  class={`text-${colors[index][1]}`}
                                />
                              </span>
                              {item}
                            
                            </li>
                        })}
                      </ul>
                    </div>
                    <div class="">
                      <Image 
                        className={`${rounded[index]} max-md:rounded-none`}
                        src={
                          item.images[0]
                        }
                      />
                    </div>
                </div>
                </div>
              
              </div>
    })
  }
</div>
<!-- section  -->
<div id="life-at-insight" class="p-xl flex flex-col justify-center gap-l scroll-m-14 max-sm:p-m">
  <Heading first="Life at" second={"Insight"} subtitle="Join Our Commitment to All Learners">
  </Heading>
  <div class="flex items-center gap-l max-md:flex-col">
    <div class="flex gap-l flex-col">
      <p class="text-2xl max-sm:text-base">
        At Insight Academy, we are dedicated to fostering well-rounded individuals by integrating academic education with essential life skills.
      </p>
      <p class="text-2xl max-sm:text-base">
        Embracing a holistic approach, our students spend <span class="text-primary font-bold">4 hours on academics</span> and <span class="text-primary font-bold">and 1 hour engaging in outdoor activities</span>, ensuring a balanced and fulfilling educational journey.    </p>
    </div>
    <img src={campusConfig?.images[0]} class="w-[326px] h-[198px]" /> 

  </div>
  <div class="flex gap-r items-center max-md:justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
      <g clip-path="url(#clip0_1125_7345)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.689772 10.6337C0.689772 15.9661 5.01251 20.2889 10.3449 20.2889C15.6773 20.2889 20 15.9661 20 10.6337C20 5.3013 15.6773 0.978516 10.3449 0.978516C5.01251 0.978516 0.689772 5.3013 0.689772 10.6337ZM13.7535 11.0872C14.0363 11.37 14.0363 11.8285 13.7535 12.1113L10.8569 15.0078C10.5741 15.2906 10.1156 15.2906 9.83285 15.0078L6.93631 12.1113C6.65352 11.8285 6.65352 11.37 6.93631 11.0872C7.2191 10.8044 7.6776 10.8044 7.96039 11.0872L9.62075 12.7476V6.77164C9.62075 6.37171 9.94496 6.0475 10.3449 6.0475C10.7448 6.0475 11.069 6.37171 11.069 6.77164V12.7476L12.7294 11.0872C13.0122 10.8044 13.4707 10.8044 13.7535 11.0872Z" fill="#564101"/>
      </g>
      <defs>
        <clipPath id="clip0_1125_7345">
          <rect width="20.6897" height="20.6896" fill="white" transform="matrix(0 1 -1 0 20.6895 0.289062)"/>
        </clipPath>
      </defs>
    </svg>
    <Text type="subtitle" class='text-black-100 text-[16px] text-center'>
      EXPLORE THE activities OFFERED
    </Text>
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
      <g clip-path="url(#clip0_1125_7345)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.689772 10.6337C0.689772 15.9661 5.01251 20.2889 10.3449 20.2889C15.6773 20.2889 20 15.9661 20 10.6337C20 5.3013 15.6773 0.978516 10.3449 0.978516C5.01251 0.978516 0.689772 5.3013 0.689772 10.6337ZM13.7535 11.0872C14.0363 11.37 14.0363 11.8285 13.7535 12.1113L10.8569 15.0078C10.5741 15.2906 10.1156 15.2906 9.83285 15.0078L6.93631 12.1113C6.65352 11.8285 6.65352 11.37 6.93631 11.0872C7.2191 10.8044 7.6776 10.8044 7.96039 11.0872L9.62075 12.7476V6.77164C9.62075 6.37171 9.94496 6.0475 10.3449 6.0475C10.7448 6.0475 11.069 6.37171 11.069 6.77164V12.7476L12.7294 11.0872C13.0122 10.8044 13.4707 10.8044 13.7535 11.0872Z" fill="#564101"/>
      </g>
      <defs>
        <clipPath id="clip0_1125_7345">
          <rect width="20.6897" height="20.6896" fill="white" transform="matrix(0 1 -1 0 20.6895 0.289062)"/>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="flex items-center justify-center gap-r overflow-scroll max-sm:flex-col">
    {
      facilities?.map(item => {
          return  <div class={`flex flex-col max-w-[400px] w-full border-t-0 flex-shrink-0`}
                       
                  >
                      <Image src={item.images[0]} className='border-b-[5px] border-yellow h-[450px] object-cover max-sm:h-[250px]' />
                      <div class="p-l flex flex-col gap-r  border-[1px] border-t-0 border-gray-900">
                        <Text type="h4" class="text-neutral-dark-grey font-display font-bold">
                          {item.title}
                        </Text>
                        <Text type="p" class='text-neutral-dark-grey'>
                          {item.description}
                        </Text>
                      </div>
                  </div>
      })
    }
  </div>
 
</div>
<!-- section  -->
<div id="achievements" class="p-xl flex flex-col justify-center gap-l items-center scroll-m-14 max-sm:p-0">
  <div class="px-r flex flex-col gap-l max-sm:gap-r">
    <Heading first="Celebrating" second={"Achievements"} subtitle="INSPIRING FEATS">
    </Heading>
    <Text type="p" class="text-center">We take immense pride in celebrating academic triumphs that reflect the students’ dedication.</Text>
  </div>

    <div class="flex justify-center gap-[2px] overflow-scroll w-full max-sm:flex-col  max-sm:items-center max-sm:gap-[16px] ">
      {toppers?.map((item,index) => {
        return <div class="max-w-[287px] h-[525px] w-full flex flex-col justify-end  topper-card relative overflow-hidden flex-shrink-0
                          "
        >
          <div 
            class="absolute inset-0 -z-[1] saturate-0 topper-img"
            style={{
              "--topper-img": `url(${item.image})`
            }}
           
      
          ></div>
          <div class="flex flex-col items-center gap-[7px] mb-10">
        
            <Text type='p' class='text-yellow font-display font-bold'>
              {item.ranks}
            </Text>
              <Text type='h4' class='text-center text-white font-display font-bold' set:html={item.name}>
               
              </Text>
            <Text type='h4' class='text-yellow font-display font-bold' >
              97.8%
            </Text>
          </div>
          <div class="absolute left-[48%] top-[20%] leaf leaf-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="158" height="467" viewBox="0 0 158 467" fill="none">
          <path opacity="0.4" d="M54.4612 3.9903C49.3078 2.45145 44.3888 0.953064 43.5299 0.588623C41.6169 -0.14032 41.695 -0.140289 41.0313 0.305176C39.1574 1.52005 45.521 10.6722 55.242 20.7963C64.6897 30.6369 71.4437 34.565 80.6181 35.5774C82.8434 35.8609 84.8345 35.9419 85.0687 35.8204C85.2639 35.6989 88.1139 37.6832 91.3932 40.275C94.2376 42.4965 97.4834 45.0452 99.2625 46.4422L100.021 47.0379C101.466 48.1718 102.598 49.1437 102.559 49.1842C102.52 49.2247 101.427 49.0222 100.138 48.6982C96.8589 47.8478 85.381 47.4833 80.54 48.0908C78.4319 48.3742 74.8011 49.0222 72.4587 49.5891C64.0651 51.533 50.8695 56.7165 51.2208 57.9313C51.4941 58.7413 53.7975 59.4297 56.257 59.4297C58.9508 59.4702 66.0561 60.2397 79.0565 61.9C95.7267 64.0463 106.892 63.9653 114.583 61.657L117.706 60.7256L120.049 62.6289C122.86 64.8562 130.199 71.2546 132.932 73.8464L134.884 75.6687L133.44 75.0613C130.707 73.9274 125.124 72.3885 121.415 71.7811C113.373 70.4447 94.9069 70.3637 91.4323 71.6191C90.1049 72.1456 89.7926 73.1985 90.7296 74.0084C91.0028 74.2514 94.9459 76.1952 99.3965 78.2605C103.886 80.3663 110.523 83.525 114.193 85.3069C126.959 91.5838 138.359 94.702 148.509 94.702C152.179 94.702 152.257 94.7425 153.272 95.9169C157.41 100.695 169.669 118.635 167.99 117.38C167.561 117.056 165.804 115.76 164.125 114.505C155.497 108.106 145.152 103.449 132.542 100.331C126.647 98.8731 122.86 98.5896 122.664 99.6021C122.508 100.412 123.719 101.627 129.809 106.77C132.581 109.159 137.148 113.168 139.959 115.76C146.128 121.47 150.149 124.71 156.551 129.245C165.648 135.644 175.096 140.868 179.234 141.759L181.498 142.245L183.255 146.294C186.183 153.219 192.078 169.458 192.078 170.754C192.078 170.875 191.336 169.904 190.438 168.567C187.667 164.477 183.411 159.456 180.561 156.904C176.033 152.895 162.72 144.31 153.701 139.612C148.821 137.061 147.572 136.616 147.572 137.507C147.572 137.871 149.563 140.908 151.984 144.269C154.443 147.631 159.05 154.393 162.212 159.294C174.315 177.881 181.069 185.94 190.673 193.391C194.577 196.429 197.075 197.968 198.051 197.968C198.637 197.968 199.886 205.662 200.901 215.583C201.448 221.05 202.346 237.289 202.072 237.532C201.994 237.613 201.643 236.277 201.253 234.536C199.066 224.128 194.967 215.138 189.033 207.687C184.973 202.584 167.678 185.009 166.702 185.009C166.546 185.009 166.546 185.778 166.78 186.71C167.209 188.734 171.035 201.977 173.378 209.549C174.237 212.425 175.174 215.421 175.369 216.191C176.228 219.228 180.366 230.77 181.537 233.361C183.099 236.763 188.096 244.498 193.835 252.435C199.144 259.724 200.003 260.656 200.862 259.927C201.37 259.481 201.409 259.562 201.253 260.575C201.174 261.223 200.901 263.652 200.667 266.001C199.847 274.06 197.934 285.318 195.904 293.944L195.006 297.791L194.772 292.121C194.225 280.134 191.883 272.602 184.309 258.509C177.633 246.118 172.05 238.018 170.996 239.112C170.02 240.124 172.948 282.929 174.705 293.62C176.15 302.448 182.435 315.69 186.769 319.051L188.096 320.104L186.417 324.316C183.841 330.957 181.732 335.695 178.414 342.499C175.408 348.614 171.074 356.51 171.543 354.931C171.699 354.526 172.246 351.529 172.831 348.249C174.198 340.433 174.237 333.549 173.026 326.138C171.777 318.727 169.63 308.603 168.224 303.42C167.014 299.006 164.359 292.162 163.579 291.352C162.954 290.704 162.407 291.797 162.407 293.579C162.407 296.373 160.69 305.445 157.332 320.266C153.78 336.1 152.452 345.617 152.765 352.866C153.155 360.884 154.834 369.469 156.903 373.883L158.035 376.232L154.912 380.282C151.359 384.898 143.59 393.969 140.545 397.007L138.554 399.032L139.725 396.561C142.497 390.77 143.278 384.25 143.278 367.242C143.278 354.972 142.887 343.349 142.458 343.349C142.302 343.349 140.506 346.71 138.437 350.8C134.572 358.535 131.019 365.055 127.076 371.697C118.917 385.384 113.998 403.567 115.52 414.096C115.832 416.08 116.067 417.984 116.106 418.429C116.184 419.604 105.487 427.136 94.3213 433.818L92.4473 434.952L93.9699 432.805C99.4746 424.949 102.832 416.728 106.229 403C107.673 397.088 109.547 386.397 109.196 385.992C109 385.83 83.2729 413.043 78.7052 418.267C69.7259 428.513 66.1732 435.438 65.2753 444.59L65.002 447.546L63.4404 448.113C57.8577 450.219 41.3046 454.876 40.5238 454.633C40.3286 454.552 41.0313 453.823 42.0854 453.013C48.449 447.951 58.7946 434.709 62.7767 426.569C64.1041 423.775 65.978 418.47 65.978 417.457C65.978 417.255 63.2062 418.551 59.8097 420.292C56.4522 422.033 50.5962 424.666 46.8483 426.124C33.3013 431.429 28.7336 433.818 23.4632 438.272C18.9345 442.12 15.7332 446.858 12.8443 453.985C11.9463 456.293 11.0094 458.399 10.8141 458.642C10.5409 459.047 7.88614 459.169 0 459.169V467.268H6.51973L9.01831 470.386C13.4299 475.853 17.8804 479.538 23.6194 482.454C33.1842 487.313 45.3648 490.958 56.6084 492.375C66.6027 493.59 89.4022 494.522 89.4022 493.671C89.4022 493.064 83.351 489.703 66.5636 481.077C43.647 469.252 40.4457 467.794 32.8329 465.729L29.9829 464.959L32.8329 464.474C37.9862 463.623 48.1757 461.234 53.6023 459.654L58.8337 458.116L62.5034 461.436C70.7019 468.969 79.6031 472.006 94.5945 472.411C103.535 472.654 108.571 472.249 116.145 470.669C121.376 469.576 151.554 460.302 151.749 459.735C151.828 459.533 149.017 458.845 145.503 458.237C142.028 457.589 135.587 456.334 131.175 455.483C116.34 452.568 110.679 451.515 106.775 451.029C100.919 450.259 85.4591 450.34 80.462 451.191C78.2367 451.555 76.3237 451.839 76.2456 451.758C76.2066 451.677 77.1435 451.191 78.3928 450.664C86.0838 447.465 103.73 437.624 111.109 432.441C112.28 431.591 112.748 431.388 112.319 431.915C111.655 432.724 111.655 432.765 114.856 434.182C116.652 434.952 119.073 435.883 120.244 436.248C126.295 438.11 136.133 438.637 143.278 437.503C149.446 436.531 161.353 432.279 168.381 428.513C175.525 424.706 200.277 406.604 200.277 405.227C200.277 403.729 164.711 407.171 148.743 410.249C144.527 411.059 143.746 411.342 136.25 415.271C129.692 418.672 128.56 419.158 130.004 417.943C137.539 411.504 147.533 401.421 154.326 393.281C157.137 389.92 157.527 389.596 158.386 389.96C158.894 390.163 161.471 390.446 164.125 390.568C167.873 390.77 169.786 390.689 172.792 390.122C177.672 389.231 184.778 387.004 188.369 385.303C196.763 381.254 210.583 368.578 219.289 356.956C221.827 353.595 225.692 348.614 227.878 345.86C233.383 339.016 233.266 338.53 226.707 340.96C224.403 341.81 219.328 343.349 215.463 344.362C206.015 346.872 201.721 348.452 193.835 352.461C186.534 356.186 181.615 359.264 177.438 362.706C175.213 364.569 174.861 364.772 175.486 363.8C179.195 357.928 190.516 335.655 190.516 334.156C190.516 333.792 191.063 333.63 192.351 333.63C194.342 333.63 200.511 331.565 205.274 329.337C210.232 326.989 215.697 322.939 220.382 318.039C225.067 313.179 227.253 310.102 231.314 302.65C234.632 296.495 249.155 266.042 248.999 265.556C248.882 265.151 240.293 270.375 234.437 274.424C211.598 290.299 208.241 293.012 203.868 299.006C202.892 300.342 201.955 301.597 201.799 301.8C201.643 301.962 202.033 300.099 202.658 297.629C204.102 291.757 205.859 283.01 206.913 276.125C207.382 273.129 207.772 270.658 207.811 270.658C208.592 270.537 213.472 267.743 216.283 265.839C229.479 256.849 236.311 243.566 240.839 218.013C241.932 211.898 244.158 200.114 244.665 197.644C244.821 197.036 244.704 196.753 244.275 196.753C243.299 196.753 230.259 207.768 227.8 210.643C223.076 216.191 216.049 227.044 211.832 235.265L209.646 239.476V235.832C209.646 230.891 208.982 220.038 208.28 213.275C207.538 206.269 207.538 206.593 208.592 206.31C209.1 206.188 210.583 205.378 211.911 204.487C219.992 199.061 224.052 191.124 225.848 177.314C226.512 172.333 226.59 159.051 226.043 150.789C225.809 147.671 225.497 141.799 225.301 137.709C225.145 133.659 224.872 130.217 224.716 130.055C224.247 129.569 222.998 131.189 220.382 135.725C218.938 138.195 216.088 142.812 214.097 145.97C209.139 153.705 204.961 163.91 202.814 173.467C202.346 175.695 201.838 177.233 201.721 176.909C201.604 176.585 200.862 174.034 200.081 171.24C198.246 164.882 196.021 158.119 193.952 152.855C193.093 150.587 192.312 148.481 192.195 148.157C192.078 147.833 192.468 148.157 193.093 148.886L194.225 150.222L197.036 145.039C200.277 139.005 201.487 136.049 202.58 131.432C205.039 121.065 203.673 111.589 196.372 87.8176C191.766 72.8745 191.219 71.1331 190.907 71.4976C190.751 71.6596 189.658 75.0208 188.447 78.9084C182.708 97.6177 182.006 100.533 181.537 108.349C181.225 113.695 181.537 120.458 182.318 124.629C182.513 125.844 182.63 126.897 182.552 127.018C182.435 127.099 181.928 126.289 181.381 125.155C178.492 119.283 170.762 106.851 165.062 99.0351L161.588 94.216L164.438 96.7268C166.233 98.2657 167.561 99.1566 168.068 99.0756C170.645 98.6706 172.753 86.2787 171.816 77.0861C170.372 63.5198 167.092 57.2429 149.719 34.889C147.65 32.1757 146.128 30.5559 145.972 30.8394C145.854 31.1228 145.425 34.889 145.035 39.2221C143.551 56.028 145.269 68.3794 150.656 79.1919L152.569 83.0391L147.377 77.4101C143.044 72.7125 136.172 66.0306 131.449 61.8595L130.316 60.8876L131.175 58.2553C132.386 54.6107 132.386 49.1032 131.214 44.7296C130.121 40.6395 127.349 35.0915 124.46 31.0823C121.923 27.5996 115.793 21.1607 112.241 18.326C107.4 14.3979 94.1651 5.61017 93.1501 5.61017C92.8377 5.61017 97.1322 22.2946 98.3815 26.0608C100.373 31.8517 103.613 38.0477 107.009 42.5833C107.595 43.3932 106.15 42.5833 102.051 39.789L100.493 38.7443C97.4786 36.7227 93.8219 34.2705 91.7056 32.8642L87.1379 29.9079L86.1618 26.5467C83.9365 19.1764 79.8373 14.4384 72.4197 10.5507C67.891 8.20193 64.963 7.10852 54.4612 3.9903Z" fill="url(#paint0_linear_1302_3574)"/>
          <defs>
            <linearGradient id="paint0_linear_1302_3574" x1="124.5" y1="494" x2="124.5" y2="238" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F5CC4F"/>
              <stop offset="1" stop-color="#F5CC4F" stop-opacity="0"/>
            </linearGradient>
          </defs>
        </svg>
          </div>
          <div class="absolute right-[51%] top-[20%] leaf leaf-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="158" height="467" viewBox="0 0 158 467" fill="none">
            <path opacity="0.4" d="M103.539 3.9903C108.692 2.45145 113.611 0.953064 114.47 0.588623C116.383 -0.14032 116.305 -0.140289 116.969 0.305176C118.843 1.52005 112.479 10.6722 102.758 20.7963C93.3103 30.6369 86.5563 34.565 77.3819 35.5774C75.1566 35.8609 73.1655 35.9419 72.9313 35.8204C72.7361 35.6989 69.8861 37.6832 66.6068 40.275C63.7624 42.4965 60.5166 45.0452 58.7375 46.4422L57.9789 47.0379C56.5344 48.1718 55.4022 49.1437 55.4412 49.1842C55.4803 49.2247 56.5734 49.0222 57.8617 48.6982C61.1411 47.8478 72.619 47.4833 77.46 48.0908C79.5681 48.3742 83.1989 49.0222 85.5413 49.5891C93.9349 51.533 107.131 56.7165 106.779 57.9313C106.506 58.7413 104.203 59.4297 101.743 59.4297C99.0492 59.4702 91.9439 60.2397 78.9435 61.9C62.2733 64.0463 51.1078 63.9653 43.4168 61.657L40.2936 60.7256L37.9512 62.6289C35.1403 64.8562 27.8007 71.2546 25.0679 73.8464L23.1159 75.6687L24.5604 75.0613C27.2932 73.9274 32.876 72.3885 36.5848 71.7811C44.6271 70.4447 63.0931 70.3637 66.5677 71.6191C67.8951 72.1456 68.2074 73.1985 67.2704 74.0084C66.9972 74.2514 63.0541 76.1952 58.6035 78.2605C54.1139 80.3663 47.477 83.525 43.8073 85.3069C31.0411 91.5838 19.6413 94.702 9.49086 94.702C5.82108 94.702 5.743 94.7425 4.72794 95.9169C0.589676 100.695 -11.669 118.635 -9.99023 117.38C-9.56078 117.056 -7.80397 115.76 -6.12524 114.505C2.50266 108.106 12.8483 103.449 25.4583 100.331C31.3534 98.8731 35.1403 98.5896 35.3355 99.6021C35.4917 100.412 34.2814 101.627 28.1911 106.77C25.4193 109.159 20.8516 113.168 18.0407 115.76C11.8723 121.47 7.85117 124.71 1.44857 129.245C-7.6478 135.644 -17.0956 140.868 -21.2338 141.759L-23.4982 142.245L-25.255 146.294C-28.183 153.219 -34.0781 169.458 -34.0781 170.754C-34.0781 170.875 -33.3363 169.904 -32.4384 168.567C-29.6665 164.477 -25.4111 159.456 -22.5612 156.904C-18.0325 152.895 -4.71979 144.31 4.29851 139.612C9.17854 137.061 10.4278 136.616 10.4278 137.507C10.4278 137.871 8.43678 140.908 6.01627 144.269C3.55674 147.631 -1.05001 154.393 -4.21227 159.294C-16.3148 177.881 -23.0687 185.94 -32.6726 193.391C-36.5766 196.429 -39.0752 197.968 -40.0512 197.968C-40.6368 197.968 -41.8861 205.662 -42.9012 215.583C-43.4477 221.05 -44.3456 237.289 -44.0724 237.532C-43.9943 237.613 -43.6429 236.277 -43.2525 234.536C-41.0663 224.128 -36.967 215.138 -31.0329 207.687C-26.9727 202.584 -9.6779 185.009 -8.7019 185.009C-8.54573 185.009 -8.54574 185.778 -8.77998 186.71C-9.20942 188.734 -13.0354 201.977 -15.3778 209.549C-16.2367 212.425 -17.1736 215.421 -17.3688 216.191C-18.2277 219.228 -22.366 230.77 -23.5372 233.361C-25.0988 236.763 -30.096 244.498 -35.8349 252.435C-41.1443 259.724 -42.0032 260.656 -42.8621 259.927C-43.3696 259.481 -43.4087 259.562 -43.2525 260.575C-43.1744 261.223 -42.9012 263.652 -42.6669 266.001C-41.8471 274.06 -39.9341 285.318 -37.904 293.944L-37.0061 297.791L-36.7718 292.121C-36.2253 280.134 -33.8829 272.602 -26.3091 258.509C-19.6332 246.118 -14.0504 238.018 -12.9963 239.112C-12.0203 240.124 -14.9483 282.929 -16.7051 293.62C-18.1496 302.448 -24.4351 315.69 -28.7686 319.051L-30.096 320.104L-28.4172 324.316C-25.8406 330.957 -23.7324 335.695 -20.414 342.499C-17.4079 348.614 -13.0744 356.51 -13.5429 354.931C-13.6991 354.526 -14.2456 351.529 -14.8312 348.249C-16.1976 340.433 -16.2367 333.549 -15.0264 326.138C-13.7771 318.727 -11.6299 308.603 -10.2245 303.42C-9.01422 299.006 -6.35948 292.162 -5.57868 291.352C-4.95403 290.704 -4.40747 291.797 -4.40747 293.579C-4.40747 296.373 -2.6897 305.445 0.667763 320.266C4.22042 336.1 5.5478 345.617 5.23547 352.866C4.84507 360.884 3.16634 369.469 1.09721 373.883L-0.0349579 376.232L3.08826 380.282C6.64092 384.898 14.4099 393.969 17.4551 397.007L19.4461 399.032L18.2749 396.561C15.5031 390.77 14.7223 384.25 14.7223 367.242C14.7223 354.972 15.1127 343.349 15.5421 343.349C15.6983 343.349 17.4941 346.71 19.5632 350.8C23.4282 358.535 26.9809 365.055 30.924 371.697C39.0834 385.384 44.0024 403.567 42.4799 414.096C42.1676 416.08 41.9333 417.984 41.8943 418.429C41.8162 419.604 52.5132 427.136 63.6787 433.818L65.5527 434.952L64.0301 432.805C58.5254 424.949 55.168 416.728 51.7715 403C50.327 397.088 48.453 386.397 48.8044 385.992C48.9996 385.83 74.7271 413.043 79.2948 418.267C88.2741 428.513 91.8268 435.438 92.7247 444.59L92.998 447.546L94.5596 448.113C100.142 450.219 116.695 454.876 117.476 454.633C117.671 454.552 116.969 453.823 115.915 453.013C109.551 447.951 99.2054 434.709 95.2233 426.569C93.8959 423.775 92.022 418.47 92.022 417.457C92.022 417.255 94.7938 418.551 98.1903 420.292C101.548 422.033 107.404 424.666 111.152 426.124C124.699 431.429 129.266 433.818 134.537 438.272C139.065 442.12 142.267 446.858 145.156 453.985C146.054 456.293 146.991 458.399 147.186 458.642C147.459 459.047 150.114 459.169 158 459.169V467.268H151.48L148.982 470.386C144.57 475.853 140.12 479.538 134.381 482.454C124.816 487.313 112.635 490.958 101.392 492.375C91.3973 493.59 68.5978 494.522 68.5978 493.671C68.5978 493.064 74.649 489.703 91.4364 481.077C114.353 469.252 117.554 467.794 125.167 465.729L128.017 464.959L125.167 464.474C120.014 463.623 109.824 461.234 104.398 459.654L99.1663 458.116L95.4966 461.436C87.2981 468.969 78.3969 472.006 63.4055 472.411C54.4652 472.654 49.429 472.249 41.8552 470.669C36.6238 469.576 6.44572 460.302 6.25052 459.735C6.17244 459.533 8.98334 458.845 12.497 458.237C15.9715 457.589 22.4132 456.334 26.8247 455.483C41.66 452.568 47.3209 451.515 51.2249 451.029C57.0809 450.259 72.5409 450.34 77.538 451.191C79.7633 451.555 81.6763 451.839 81.7544 451.758C81.7934 451.677 80.8565 451.191 79.6072 450.664C71.9162 447.465 54.27 437.624 46.8914 432.441C45.7202 431.591 45.2517 431.388 45.6812 431.915C46.3448 432.724 46.3449 432.765 43.1436 434.182C41.3477 434.952 38.9272 435.883 37.756 436.248C31.7048 438.11 21.8666 438.637 14.7223 437.503C8.55389 436.531 -3.35338 432.279 -10.3806 428.513C-17.525 424.706 -42.2765 406.604 -42.2765 405.227C-42.2765 403.729 -6.71085 407.171 9.25661 410.249C13.473 411.059 14.2538 411.342 21.7495 415.271C28.3083 418.672 29.4404 419.158 27.9959 417.943C20.4612 411.504 10.4669 401.421 3.67387 393.281C0.862968 389.92 0.472565 389.596 -0.386322 389.96C-0.893845 390.163 -3.4705 390.446 -6.12524 390.568C-9.87311 390.77 -11.7861 390.689 -14.7922 390.122C-19.6722 389.231 -26.7775 387.004 -30.3692 385.303C-38.7629 381.254 -52.5831 368.578 -61.2891 356.956C-63.8267 353.595 -67.6917 348.614 -69.878 345.86C-75.3826 339.016 -75.2655 338.53 -68.7068 340.96C-66.4034 341.81 -61.3282 343.349 -57.4632 344.362C-48.0154 346.872 -43.721 348.452 -35.8349 352.461C-28.5343 356.186 -23.6153 359.264 -19.438 362.706C-17.2127 364.569 -16.8613 364.772 -17.486 363.8C-21.1948 357.928 -32.5165 335.655 -32.5165 334.156C-32.5165 333.792 -33.063 333.63 -34.3513 333.63C-36.3424 333.63 -42.5108 331.565 -47.2737 329.337C-52.2318 326.989 -57.6974 322.939 -62.3822 318.039C-67.0671 313.179 -69.2533 310.102 -73.3135 302.65C-76.6319 296.495 -91.1549 266.042 -90.9988 265.556C-90.8816 265.151 -82.2928 270.375 -76.4367 274.424C-53.5982 290.299 -50.2407 293.012 -45.8682 299.006C-44.8922 300.342 -43.9552 301.597 -43.7991 301.8C-43.6429 301.962 -44.0333 300.099 -44.658 297.629C-46.1025 291.757 -47.8593 283.01 -48.9134 276.125C-49.3818 273.129 -49.7722 270.658 -49.8113 270.658C-50.5921 270.537 -55.4721 267.743 -58.283 265.839C-71.4786 256.849 -78.3107 243.566 -82.8393 218.013C-83.9325 211.898 -86.1578 200.114 -86.6653 197.644C-86.8214 197.036 -86.7043 196.753 -86.2749 196.753C-85.2989 196.753 -72.2594 207.768 -69.7999 210.643C-65.076 216.191 -58.0488 227.044 -53.8324 235.265L-51.6462 239.476V235.832C-51.6462 230.891 -50.9825 220.038 -50.2798 213.275C-49.538 206.269 -49.538 206.593 -50.5921 206.31C-51.0996 206.188 -52.5831 205.378 -53.9105 204.487C-61.9918 199.061 -66.052 191.124 -67.8479 177.314C-68.5116 172.333 -68.5896 159.051 -68.0431 150.789C-67.8088 147.671 -67.4965 141.799 -67.3013 137.709C-67.1452 133.659 -66.8719 130.217 -66.7157 130.055C-66.2472 129.569 -64.9979 131.189 -62.3822 135.725C-60.9378 138.195 -58.0878 142.812 -56.0968 145.97C-51.1386 153.705 -46.9613 163.91 -44.8141 173.467C-44.3456 175.695 -43.8381 177.233 -43.721 176.909C-43.6039 176.585 -42.8621 174.034 -42.0813 171.24C-40.2464 164.882 -38.0211 158.119 -35.952 152.855C-35.0931 150.587 -34.3123 148.481 -34.1952 148.157C-34.0781 147.833 -34.4685 148.157 -35.0931 148.886L-36.2253 150.222L-39.0362 145.039C-42.2765 139.005 -43.4868 136.049 -44.5799 131.432C-47.0394 121.065 -45.673 111.589 -38.3725 87.8176C-33.7657 72.8745 -33.2192 71.1331 -32.9069 71.4976C-32.7507 71.6596 -31.6576 75.0208 -30.4473 78.9084C-24.7084 97.6177 -24.0057 100.533 -23.5372 108.349C-23.2249 113.695 -23.5372 120.458 -24.318 124.629C-24.5132 125.844 -24.6303 126.897 -24.5522 127.018C-24.4351 127.099 -23.9276 126.289 -23.381 125.155C-20.4921 119.283 -12.7621 106.851 -7.0622 99.0351L-3.58763 94.216L-6.43757 96.7268C-8.23342 98.2657 -9.56078 99.1566 -10.0683 99.0756C-12.645 98.6706 -14.7531 86.2787 -13.8162 77.0861C-12.3717 63.5198 -9.0923 57.2429 8.28062 34.889C10.3497 32.1757 11.8723 30.5559 12.0285 30.8394C12.1456 31.1228 12.575 34.889 12.9654 39.2221C14.449 56.028 12.7312 68.3794 7.34365 79.1919L5.43067 83.0391L10.623 77.4101C14.9565 72.7125 21.8276 66.0306 26.5515 61.8595L27.6836 60.8876L26.8247 58.2553C25.6145 54.6107 25.6145 49.1032 26.7857 44.7296C27.8788 40.6395 30.6507 35.0915 33.5396 31.0823C36.0773 27.5996 42.2066 21.1607 45.7592 18.326C50.6003 14.3979 63.8349 5.61017 64.8499 5.61017C65.1623 5.61017 60.8678 22.2946 59.6185 26.0608C57.6275 31.8517 54.3871 38.0477 50.9906 42.5833C50.405 43.3932 51.8495 42.5833 55.9488 39.789L57.5067 38.7443C60.5214 36.7227 64.1781 34.2705 66.2944 32.8642L70.8621 29.9079L71.8382 26.5467C74.0635 19.1764 78.1627 14.4384 85.5803 10.5507C90.109 8.20193 93.037 7.10852 103.539 3.9903Z" fill="url(#paint0_linear_1302_3573)"/>
            <defs>
              <linearGradient id="paint0_linear_1302_3573" x1="33.5" y1="494" x2="33.5" y2="238" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F5CC4F"/>
                <stop offset="1" stop-color="#F5CC4F" stop-opacity="0"/>
              </linearGradient>
            </defs>
          </svg>
              
          </div>
        </div>
      })}
    </div>
</div>
<!-- section  -->

<!-- section  -->
<Testimonial />
<!-- section  -->
<div id="contact-us" style="scroll-margin: 60px;">
  <Connect {
    ...contact
  } />
</div>
<!-- section  -->
<GoToCta />
<!-- section  -->
<Footer />
<style>
  .topper-card{
    transition: all 0.3s ease-in-out;
  }
  .topper-card:not(p,h4,h4){
    /* filter: saturate(0); */
  }
  .leaf{
    transition: transform 0.4s ease;
    opacity: 0.2;
  }
  .topper-img{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%), var(--topper-img), lightgray -83.554px -6.036px / 158.198% 101.149% no-repeat;
    transition: all 0.3s ease-in-out;
  }
  .topper-card:hover .topper-img{
    filter: saturate(1);
    background: linear-gradient(180deg, rgba(83, 62, 0, 0.00) 0%, #664D00 100%), var(--topper-img), lightgray -83.554px -6.036px / 158.198% 101.149% no-repeat;
  }
  .topper-card:hover .leaf{
    /* fill: linear-gradient(180deg, #F5CC4F 0%, rgba(245, 204, 79, 0.00) 100%); */
    opacity: 1;

    transform: translateY(-40px);
    transition: transform 0.4s ease;
  }
  .topper-card:hover{
    border-bottom: 7px solid var(--primary-yellow, #F5CC4F);
  }
</style>
</Layout>