---
const { campusName = '' } = Astro.params
import config from '../../config'
import Button from '../components/system/Button.astro'
const campus = config.campus
const campusConfig = campus.find(c => c.internalName === campusName)
import Layout from '../layouts/Layout.astro'
import Hero from './Hero.astro'
import BreadCrumb from '../components/system/BreadCrumb.astro'
import Showcase from './Showcase.astro'
import Heading from '../components/system/Heading.astro'
import Text from '../components/system/Text.astro'
import StarStepIcon from '../components/icons/StarStepIcon.astro'
import Image from '../components/system/Image.astro'
import Testimonial from '../components/landingPage/Testimonial.astro'
import Connect from '../components/campus/Connect.astro'
import GoToCta from '../components/GoToCta.astro'
import Footer from '../components/landingPage/Footer.astro'
import TopNavigationBar from '../components/TopNavigationBar.astro'
import Star from '../components/icons/Star.astro'
import TopperCard from '../components/TopperCard.astro'
import Carousel from '../components/system/Carousel.astro'
import CarouselCard from '../components/system/CarouselCard.astro'
import Gallery from '../components/Gallery.astro'
import DeckCard from '../components/DeckCard.astro'

// all campus facilities import goes here
import deckCardTemp from '../images/deckCardTemp.jpeg'
import aroundthecampus1 from '../images/campus/marth/campus-facilities/bus.jpeg'
import aroundthecampus2 from '../images/campus/marth/campus-facilities/campusfront.jpeg'
import aroundthecampus3 from '../images/campus/marth/campus-facilities/campus.jpeg'
import aroundthecampus4 from '../images/campus/marth/campus-facilities/corridor.jpeg'


import classroom1 from '../images/campus/marth/campus-facilities/activity-room.webp'
import classroom2 from '../images/campus/marth/campus-facilities/classroom-3.jpeg'
import classroom3 from '../images/campus/marth/campus-facilities/classroom-1.jpeg'
import classroom4 from '../images/campus/marth/campus-facilities/library.jpeg'
import classroom5 from '../images/campus/marth/campus-facilities/normal-class.jpeg'

import playArea from '../images/campus/marth/campus-facilities/playArea.jpeg'
import prePrimary from '../images/campus/marth/campus-facilities/pre-primary.jpeg'
import primary from '../images/campus/marth/campus-facilities/primary.jpeg'
import secondary from '../images/campus/marth/campus-facilities/secondary.jpeg'

import academiclabs1 from '../images/campus/marth/campus-facilities/bio-lab.jpeg'
import academiclabs2 from '../images/campus/marth/campus-facilities/chem-lab.jpeg'
import academiclabs3 from '../images/campus/marth/campus-facilities/cs-lab.jpeg'
import academiclabs4 from '../images/campus/marth/campus-facilities/phy-lab.jpeg'

import extrafacility1 from '../images/campus/marth/campus-facilities/yoga.jpeg'
import extrafacility2 from '../images/campus/marth/campus-facilities/singing.jpeg'
import extrafacility3 from '../images/campus/marth/campus-facilities/robotics-lab.jpeg'
import extrafacility4 from '../images/campus/marth/campus-facilities/piano-room-best.jpeg'
import extrafacility5 from '../images/campus/marth/campus-facilities/infirmary.jpeg'
import extrafacility6 from '../images/campus/marth/campus-facilities/guitar-room.jpeg'
import extrafacility7 from '../images/campus/marth/campus-facilities/drum-room.jpeg'

import sportsfacility1 from '../images/campus/marth/campus-facilities/bb-2.jpeg'
import sportsfacility2 from '../images/campus/marth/campus-facilities/skating.jpeg'
import sportsfacility3 from '../images/campus/marth/campus-facilities/cricket.jpeg'
import sportsfacility4 from '../images/campus/marth/campus-facilities/swim.jpeg'
import sportsfacility5 from '../images/campus/marth/campus-facilities/football-2.jpeg'


import sportfacility1k from '../images/campus/knk/campus-facilities/sports/1.webp'
import sportfacility2k from '../images/campus/knk/campus-facilities/sports/2.webp'
// import sportfacility3k from '../images/campus/knk/campus-facilities/sports/3.webp'
import sportfacility4k from '../images/campus/knk/campus-facilities/sports/4.webp'
import sportfacility5k from '../images/campus/knk/campus-facilities/sports/5.webp'
import sportfacility6k from '../images/campus/knk/campus-facilities/sports/6.webp'
import sportfacility7k from '../images/campus/knk/campus-facilities/sports/7.webp'

import labs1k from '../images/campus/knk/campus-facilities/labs/1.webp'
import labs2k from '../images/campus/knk/campus-facilities/labs/2.webp'
import labs3k from '../images/campus/knk/campus-facilities/labs/3.webp'
import labs4k from '../images/campus/knk/campus-facilities/labs/4.webp'
import labs5k from '../images/campus/knk/campus-facilities/labs/5.webp'
import labs6k from '../images/campus/knk/campus-facilities/labs/6.webp'
import labs7k from '../images/campus/knk/campus-facilities/labs/7.webp'

import coScholastic1k from '../images/campus/knk/campus-facilities/co-scholastics/1.webp'
import coScholastic2k from '../images/campus/knk/campus-facilities/co-scholastics/2.webp'
import coScholastic3k from '../images/campus/knk/campus-facilities/co-scholastics/3.webp'
import coScholastic4k from '../images/campus/knk/campus-facilities/co-scholastics/4.webp'

import classrooms1k from  '../images/campus/knk/campus-facilities/classrooms/1.webp'
import classrooms2k from  '../images/campus/knk/campus-facilities/classrooms/2.webp'
import classrooms3k from  '../images/campus/knk/campus-facilities/classrooms/3.webp'


import GalleryFullImageTemp from '../images/GalleryFullImageTemp.png'
import galleryImageTemp2 from '../images/slides/5.jpeg'


const leaderMessages = campusConfig?.leaderMessage
const academic = campusConfig?.academic
const facilities = campusConfig?.facilities
const contact = campusConfig?.contact
const toppers = campusConfig?.toppers


// const navigationData = [
//   {label: 'Academics', for: "academics"},
//   {label: 'Life At Insight', for: "life-at-insight"},
//   {label: 'Achievements', for: "achievements"},
//   {label: 'Contact Us', for: "contact-us"},
// ]
const colors = [
  ["#EFFAF8","primary","neutral-dark-grey"],
  ["#FCF8EB","black-100","neutral-dark-grey"],
  ["#EFFAF8","primary","neutral-dark-grey"],
  ["#FCF8EB","black-100","neutral-dark-grey"],

]
const rounded = [
  "rounded-tl-[250px]", "", "rounded-bl-[250px]"
]

---
<Layout title='Welcome'>
  <TopNavigationBar />
<div
  class="h-[91vh]"
>
    <Hero
      config={
        {
          title: campusConfig?.title,
         
        }
      }
       slideImages={ campusConfig?.images.map(item => (item.type === 'picture' ? {
        "slide": item.slide, type: 'image', picture: true, position: 'center top'
      } : {
        "slide": item.uri, position: item.position, type: item.type
      }))}
      heroOpacity={campusName === 'marathahalli' ? 0.9 : 0.8}
      showSlide={true}
      contentDirection="items-end"
      bgImageBgColor="linear-gradient(359deg, #1B2226 0%, rgba(19, 112, 167, 0.00) 100%)"
    >
    <div slot="title">
      {campusConfig?.title ? <Text type="h2" class="mt-auto font-bold text-yellow">{campusConfig?.title}</Text> : null}
    </div>
    <div slot="subHeading">
      {campusConfig?.description ? <Text type="p" class="max-w-[57ch]">{campusConfig?.description}</Text> : null}
    </div>
    </Hero>
</div>
<!-- <BreadCrumb
    items={navigationData}
    label={"Jump To"}
    class={'bg-white'}
  /> -->
<Showcase
  title="Events Bulletin"
  campusName={campusName}
/>

<!-- section  -->
<div class="flex p-xl justify-center gap-l flex-col scroll-mt-24 max-sm:p-l" id="principal-note">
  <Heading first="Principal’s" second={"Note"} subtitle="A GUIDING MESSAGE FROM OUR LEADER" />
  <div class="flex items-center justify-center gap-l max-sm:flex-col">
    <img class="w-[450px]" src={
      leaderMessages?.[0].image
    } alt="">
    <div class="flex flex-col gap-r">
      <Text type="regular" class="max-w-[73ch] text-neutral-dark-grey">
        {leaderMessages?.[0].body}
      </Text>
      <Text type="span" class='text-black-100 uppercase font-display tracking-[1.8px] font-semibold max-md:text-sm'>
        {leaderMessages?.[0].name}
      </Text>
    </div>
  </div>
</div>
<!-- 
<div class="w-full flex justify-center">
  <div class="w-[30%] h-[1px] bg-primary/20" />
</div> -->



<!-- <div class="flex justify-center opacity-40 items-center">
  <div class="h-[1px] bg-[#ddd3c5] flex-1" />
  <div class="h-8 flex-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 12" width="100%" height="100%">
      <path d="M 18.824 12 L 19.496 12 C 19.608 11.328 19.912 10.594 20.424 9.797 C 21.448 8.219 23.512 6.672 25.288 6.313 L 25.288 5.656 C 24.408 5.469 23.544 5.078 22.712 4.5 C 21.016 3.328 19.768 1.578 19.496 0 L 18.824 0 C 18.664 0.828 18.296 1.625 17.72 2.438 C 16.584 4.047 14.808 5.234 13 5.656 L 13 6.313 C 13.912 6.5 14.84 6.938 15.752 7.609 C 17.608 8.969 18.584 10.656 18.824 12 Z" fill="rgb(221, 211, 197)"></path><path d="M 1.896 7.813 L 2.115 7.813 C 2.151 7.594 2.25 7.355 2.417 7.095 C 2.75 6.582 3.422 6.078 4 5.961 L 4 5.747 C 3.714 5.686 3.432 5.559 3.161 5.371 C 2.609 4.99 2.203 4.42 2.115 3.906 L 1.896 3.906 C 1.844 4.176 1.724 4.435 1.536 4.7 C 1.167 5.224 0.589 5.61 0 5.747 L 0 5.961 C 0.297 6.022 0.599 6.165 0.896 6.383 C 1.5 6.826 1.818 7.375 1.896 7.813 Z" fill="rgb(221, 211, 197)"></path><path d="M 33.896 7.813 L 34.115 7.813 C 34.151 7.594 34.25 7.355 34.417 7.095 C 34.75 6.582 35.422 6.078 36 5.961 L 36 5.747 C 35.714 5.686 35.432 5.559 35.161 5.371 C 34.609 4.99 34.203 4.42 34.115 3.906 L 33.896 3.906 C 33.844 4.176 33.724 4.435 33.536 4.7 C 33.167 5.224 32.589 5.61 32 5.747 L 32 5.961 C 32.297 6.022 32.599 6.165 32.896 6.383 C 33.5 6.826 33.818 7.375 33.896 7.813 Z" fill="rgb(221, 211, 197)"></path>
    </svg>
  </div>
  <div class="h-[1px] bg-[#ddd3c5] flex-1" />
</div> -->

<div id="campus-facilities" style="scroll-margin: 60px;" class="p-xl px-xl flex flex-col justify-center gap-l scroll-m-14 max-sm:p-r max-sm:gap-r max-md:mt-4">
  <Heading first="Discover our" second={"Campus"} subtitle="Explore Insight" />
  <div class="flex flex-row w-full justify-between max-md:flex-col">
    <Text type="regular" class="text-neutral-dark-grey max-md:mb-5 max-w-6xl flex-1 mr-4">
      Discover a nurturing environment with well-designed classrooms, sprawling grounds, and a host of facilities, all dedicated to providing students with a holistic and enriching educational experience.
    </Text>
    <a href={campusName === 'marathahalli' 
      ? ""
      : "https://drive.google.com/file/d/1VcI-cGbtwI0FaUyCanqv2AxzfNaTc6La/view?usp=sharing"
    } target="_blank" class="">
      <Button>Watch Campus Tour</Button>
    </a>

  </div>
  {campusName === 'marathahalli' && (
    <Carousel class="gap-16 p-5 pt-8 mt-2 max-md:gap-14 max-md:pt-8 no-scrollbar" id="campus-showcase" stackOnMobile>
      <!--
        <CarouselCard>
          <DeckCard
            images={[
              { src: aroundthecampus1, alt: '' },
              { src: aroundthecampus2, alt: '' }
            ]}
            target="around-the-campus"
          >
            <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
              Around the campus
            </Text>
          </DeckCard>
        </CarouselCard>
      -->
      <CarouselCard>
        <DeckCard
          images={[
            { src: classroom1, alt: '' },
            { src: classroom2, alt: '' }
          ]}
          target="classrooms"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Classrooms
          </Text>
        </DeckCard>
      </CarouselCard>
      <CarouselCard>
        <DeckCard
          images={[
            { src: academiclabs1, alt: '' },
            { src: academiclabs2, alt: '' }
          ]}
          target="academic-labs"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Academic Labs
          </Text>
        </DeckCard>
      </CarouselCard>
      <CarouselCard>
        <DeckCard
          images={[
            { src: extrafacility1, alt: '' },
            { src: extrafacility2, alt: '' }
          ]}
          target="extrafacility"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Co-Scholastics
          </Text>
        </DeckCard>
      </CarouselCard>
      <CarouselCard>
        <DeckCard
          images={[
            { src: sportsfacility1, alt: '' },
            { src: sportsfacility2, alt: '' }
          ]}
          target="sportsfacility"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Sports
          </Text>
        </DeckCard>
      </CarouselCard>
    </Carousel>
  )}
  {campusName === 'kanakapura' && (
    <Carousel class="gap-16 p-5 pt-8 mt-2 max-md:gap-14 max-md:pt-8 no-scrollbar" id="campus-showcase" stackOnMobile>
      <!--
        <CarouselCard>
          <DeckCard
            images={[
              { src: aroundthecampus1, alt: '' },
              { src: aroundthecampus2, alt: '' }
            ]}
            target="around-the-campus"
          >
            <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
              Around the campus
            </Text>
          </DeckCard>
        </CarouselCard>
        -->
      <CarouselCard>
        <DeckCard
          images={[
            { src: classrooms1k, alt: '' },
            { src: classrooms2k, alt: '' }
          ]}
          target="classrooms-knk"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Classrooms
          </Text>
        </DeckCard>
      </CarouselCard>
      <CarouselCard>
        <DeckCard
          images={[
            { src: labs1k, alt: '' },
            { src: labs2k, alt: '' }
          ]}
          target="academic-labs-knk"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Academic Labs
          </Text>
        </DeckCard>
      </CarouselCard>
      <CarouselCard>
        <DeckCard
          images={[
            { src: coScholastic1k, alt: '' },
            { src: coScholastic2k, alt: '' }
          ]}
          target="extrafacility-knk"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Co-Scholastics
          </Text>
        </DeckCard>
      </CarouselCard>
      <CarouselCard>
        <DeckCard
          images={[
            { src: sportfacility1k, alt: '' },
            { src: sportfacility2k, alt: '' }
          ]}
          target="sportsfacility-knk"
        >
          <Text type="xs" class='uppercase text-center mt-8 max-md:mt-5 text-[#006BB3] font-bold underline max-md:text-sm'>
            Sports
          </Text>
        </DeckCard>
      </CarouselCard>
    </Carousel>
  )}
</div>

{campusName === 'marathahalli' && (
  <Gallery
    id="around-the-campus"
    gallery={[
      { src: aroundthecampus1, caption: "Transport Buses" },
      { src: aroundthecampus2, caption: "Campus Exterior" },
      { src: aroundthecampus3, caption: "Campus Exterior" },
      { src: aroundthecampus4, caption: "Campus Exterior" }
    ]}
  />
  <Gallery
    id="classrooms"
    gallery={[
      // { src: classroom1, caption: "Activity Room" },
      { src: prePrimary, caption: "Pre-Primary Classroom" },
      { src: primary, caption: "Primary Classroom" },
      { src: secondary, caption: "Secondary Classroom" },
      { src: classroom4, caption: "Library" },
    ]}
  />
  <Gallery
    id="academic-labs"
    gallery={[
      { src: academiclabs1, caption: "Biology Lab" },
      { src: academiclabs2, caption: "Chemistry Lab" },
      { src: academiclabs3, caption: "Computer Lab" },
      { src: academiclabs4, caption: "Physics Lab" }
    ]}
  />
  <Gallery
    id="extrafacility"
    gallery={[
      { src: extrafacility1, caption: "Yoga" },
      { src: extrafacility2, caption: "Music Room - Orchestra" },
      { src: extrafacility3, caption: "Robotics Lab" },
      { src: extrafacility4, caption: "Music Room - Piano " },
      { src: extrafacility5, caption: "Well-equipped Infirmary" },
      { src: extrafacility6, caption: "Guitar Room" },
      { src: extrafacility7, caption: "Drums Room" }
    ]}
  />
  <Gallery
    id="sportsfacility"
    gallery={[
      { src: sportsfacility1, caption: "Basketball" },
      { src: sportsfacility2, caption: "Skating" },
      { src: sportsfacility3, caption: "Cricket" },
      { src: sportsfacility4, caption: "Swimming" },
      { src: sportsfacility5, caption: "Football" }
    ]}
  />
)}


{campusName === 'kanakapura' && (
  <Gallery
    id="around-the-campusk"
    gallery={[
      { src: aroundthecampus1, caption: "Transport Buses" },
      { src: aroundthecampus2, caption: "Campus Exterior" },
      { src: aroundthecampus3, caption: "Campus Exterior" },
      { src: aroundthecampus4, caption: "Campus Exterior" }
    ]}
  />

  <Gallery
    id="classrooms-knk"
    gallery={[
      { src: classrooms1k, caption: "Activity Room" },
      { src: classrooms2k, caption: "Primary Classroom" },
      { src: classrooms3k, caption: "Secondary Classroom" }
    ]}
  />
  <Gallery
    id="academic-labs-knk"
    gallery={[
      { src: labs1k, caption: "Montessori Lab" },
      { src: labs2k, caption: "Robotics Lab" },
      { src: labs4k, caption: "Computer Lab" },
      { src: labs3k, caption: "Library" },
      { src: labs5k, caption: "Biology Lab" },
      { src: labs6k, caption: "Chemistry Lab" },
      { src: labs7k, caption: "Physics Lab" }
    ]}
  />
  <Gallery
    id="extrafacility-knk"
    gallery={[
      // { src: coScholastic1k, caption: "Music Room" },
      { src: coScholastic3k, caption: "Orchestra Room" },
      { src: coScholastic2k, caption: "Robotics Lab" },
      { src: coScholastic4k, caption: "Dance" },
    ]}
  />
  <Gallery
    id="sportsfacility-knk"
    gallery={[
      { src: sportfacility1k, caption: "Swimming" },
      { src: sportfacility2k, caption: "Skating" },
      { src: sportfacility4k, caption: "Basketball" },
      { src: sportfacility5k, caption: "Basketball" },
      { src: sportfacility6k, caption: "Play Nursery" },
      { src: sportfacility7k, caption: "Football" }
    ]}
  />
)}
<!-- DiscoverCampus -->



<!-- section  -->
<div id="academics" style="scroll-margin: 60px;" class="p-xl px-0  flex flex-col justify-center gap-l scroll-m-14 max-sm:p-r max-sm:gap-r">
  <Heading first="Academic" second={"Landscape"} subtitle="Empowering Every Learner ">
  </Heading>
  {
    academic?.map((item,index) => {
      const rounded = index === 0
        ? "rounded-tl-[250px]"
        : index === academic.length - 1
          ? "rounded-bl-[250px]"
          : ""
      return <div class={`flex flex-col px-xl  justify-center gap-l max-sm:p-0`}> 
                <div style={`background: ${colors[index][0]}`}>
                  <div class="flex p-xl pr-0 justify-center gap-xl item-center max-md:flex-col max-md:p-r">
                    <div class="flex gap-r flex-col">
                      <div class="flex gap-r items-center">
                        <Text type='span'>
                          <StarStepIcon
                            step='mini'
                            class={`w-10 h-10 text-${colors[index][1]}`}
                          />
                        </Text>
                        <Text type="h3" class={`text-${colors[index][1]} font-bold`}>
                          {item.title}
                        </Text>
                      </div>
                      <p class="max-w-[70ch] text-xl max-sm:text-base">
                        {item.description}
                      </p>
                      <Text type="subtitle" class={`text-${colors[index][1]} `} style={{textAlign: "left"}}>
                        highlights: 
                      </Text>
                      <ul class="flex flex-col gap-r">
                        {item.highlights?.map(item => {
                          return <li class="text-xl flex gap-[7px] items-center max-sm:text-base">
                              <span class={`text-${colors[index][1]} w-6 h-6`}>
                                <Star
                                  class={`text-${colors[index][1]} w-6 h-6 max-sm:w-5 max-sm:h-5`}
                                />
                              </span>
                              {item}
                            
                            </li>
                        })}
                      </ul>
                    </div>
                    <div class="">
                      <Image 
                        className={`${rounded} max-md:rounded-none h-[95%] object-cover`}
                        src={
                          item.images[0]
                        }
                      />
                    </div>
                </div>
                </div>
              
              </div>
    })
  }
</div>
<!-- section  -->
<div id="life-at-insight" class="px-xl flex flex-col justify-center gap-l scroll-m-14 max-sm:p-m">
  <div class="flex flex-col gap-l px-xl max-sm:px-0">
    <Heading first="Life at" second={"Insight"} subtitle="Experiencing the Full Spectrum of Learning">
    </Heading>
    <div class="flex items-center gap-l max-md:flex-col">
      <div class="flex gap-l flex-col">
      <p class="text-lg max-sm:text-base">
          At Insight Academy, we are dedicated to fostering well-rounded individuals by integrating academic education with essential life skills.
        </p>
        <!-- <p class="text-2xl max-sm:text-base">
          Embracing a holistic approach, our students spend <span class="text-primary font-bold">4 hours on academics</span> and <span class="text-primary font-bold">and 1 hour engaging in outdoor activities</span>, ensuring a balanced and fulfilling educational journey.    </p> -->
      </div>
      <img src={campusConfig?.images[0].uri || campusConfig?.images[0].slide[0].src} class="w-[326px] h-[198px]" />
    </div>
    
  </div>
  <div class="flex justify-center flex-col gap-l">
    <div class="flex gap-r items-center max-md:justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" class="max-md:hidden">
        <g clip-path="url(#clip0_1125_7345)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.689772 10.6337C0.689772 15.9661 5.01251 20.2889 10.3449 20.2889C15.6773 20.2889 20 15.9661 20 10.6337C20 5.3013 15.6773 0.978516 10.3449 0.978516C5.01251 0.978516 0.689772 5.3013 0.689772 10.6337ZM13.7535 11.0872C14.0363 11.37 14.0363 11.8285 13.7535 12.1113L10.8569 15.0078C10.5741 15.2906 10.1156 15.2906 9.83285 15.0078L6.93631 12.1113C6.65352 11.8285 6.65352 11.37 6.93631 11.0872C7.2191 10.8044 7.6776 10.8044 7.96039 11.0872L9.62075 12.7476V6.77164C9.62075 6.37171 9.94496 6.0475 10.3449 6.0475C10.7448 6.0475 11.069 6.37171 11.069 6.77164V12.7476L12.7294 11.0872C13.0122 10.8044 13.4707 10.8044 13.7535 11.0872Z" fill="#564101"/>
        </g>
        <defs>
          <clipPath id="clip0_1125_7345">
            <rect width="20.6897" height="20.6896" fill="white" transform="matrix(0 1 -1 0 20.6895 0.289062)"/>
          </clipPath>
        </defs>
      </svg>
      <Text type="subtitle" class='text-black-100 text-[16px] text-center'>
        EXPLORE THE activities OFFERED
      </Text>
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" class="max-md:hidden">
        <g clip-path="url(#clip0_1125_7345)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.689772 10.6337C0.689772 15.9661 5.01251 20.2889 10.3449 20.2889C15.6773 20.2889 20 15.9661 20 10.6337C20 5.3013 15.6773 0.978516 10.3449 0.978516C5.01251 0.978516 0.689772 5.3013 0.689772 10.6337ZM13.7535 11.0872C14.0363 11.37 14.0363 11.8285 13.7535 12.1113L10.8569 15.0078C10.5741 15.2906 10.1156 15.2906 9.83285 15.0078L6.93631 12.1113C6.65352 11.8285 6.65352 11.37 6.93631 11.0872C7.2191 10.8044 7.6776 10.8044 7.96039 11.0872L9.62075 12.7476V6.77164C9.62075 6.37171 9.94496 6.0475 10.3449 6.0475C10.7448 6.0475 11.069 6.37171 11.069 6.77164V12.7476L12.7294 11.0872C13.0122 10.8044 13.4707 10.8044 13.7535 11.0872Z" fill="#564101"/>
        </g>
        <defs>
          <clipPath id="clip0_1125_7345">
            <rect width="20.6897" height="20.6896" fill="white" transform="matrix(0 1 -1 0 20.6895 0.289062)"/>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="grid grid-flow-col grid-rows-1  gap-r overflow-auto no-scrollbar max-sm:flex-col max-w-[1600px] scroll-mt-24  max-sm:grid-flow-row max-sm:center max-sm:place-items-center max-sm:flex" style="grid-auto-columns: minmax(400px, 1fr)">
      {
        facilities?.map(item => {
            return  <div class={`flex flex-col max-w-[380px] w-full border-t-0 flex-shrink-0`}
                         
                    >
                        <Image src={item.images[0]} className='border-b-[5px] border-yellow h-[380px] object-cover max-sm:h-[250px]' />
                        <div class="p-l flex flex-col gap-r  border-[1px] border-t-0 border-gray-900" style="flex-grow: 1;">
                          <Text type="h4" class="text-neutral-dark-grey font-display font-bold">
                            {item.title}
                          </Text>
                          <Text type="p" class='text-neutral-dark-grey'>
                            {item.description}
                          </Text>
                        </div>
                    </div>
        })
      }
    </div>
  </div>
  
 
</div>
<!-- section  -->
<div id="achievements" class="p-xl flex flex-col justify-center gap-l  scroll-m-14 max-sm:p-l">
  <div class="px-0 flex flex-col gap-r max-sm:gap-r max-sm:px-0">
    <Heading first="Celebrating" second={"Achievements"} subtitle="INSPIRING FEATS">
    </Heading>
    <Text type="p" class="text-center">We take immense pride in celebrating academic triumphs that reflect the students’ dedication.</Text>
  </div>
  <div class="flex items-center justify-center">
    <div class="flex gap-[2px] overflow-scroll w-full max-sm:flex-col  max-sm:items-center max-sm:gap-[16px] max-w-[1200px] margin-auto">
      {toppers?.map((item,index) => {
        return <TopperCard 
                topper={item}
              />
      })}
  </div>
  </div>
    
</div>

<!-- section  -->

<!-- section  -->
<Testimonial />
<!-- section  -->
<div id="contact-us" style="scroll-margin: 60px;">
  <Connect {
    ...contact
  } />
</div>
<!-- section  -->
<GoToCta />
<!-- section  -->
<Footer />

</Layout>