---
const { campusName = '' } = Astro.params
import config from '../../config'
import Button from '../components/system/Button.astro'
const campus = config.campus
const campusConfig = campus.find(c => c.internalName === campusName)
import Layout from '../layouts/Layout.astro'
import Hero from './Hero.astro'
import BreadCrumb from '../components/system/BreadCrumb.astro'
import Showcase from './Showcase.astro'
import Heading from '../components/system/Heading.astro'
import Text from '../components/system/Text.astro'
import StarStepIcon from '../components/icons/StarStepIcon.astro'
import Image from '../components/system/Image.astro'
import Testimonial from '../components/landingPage/Testimonial.astro'
import Connect from '../components/campus/Connect.astro'
import GoToCta from '../components/GoToCta.astro'
import Footer from '../components/landingPage/Footer.astro'
import TopNavigationBar from '../components/TopNavigationBar.astro'
import Star from '../components/icons/Star.astro'
import TopperCard from '../components/TopperCard.astro'
const leaderMessages = campusConfig?.leaderMessage 
const academic = campusConfig?.academic
const facilities = campusConfig?.facilities
const contact = campusConfig?.contact
const toppers = campusConfig?.toppers
const navigationData = [
  {label: 'Academics', for: "academics"},
  {label: 'Life At Insight', for: "life-at-insight"},
  {label: 'Achievements', for: "achievements"},
  {label: 'Contact Us', for: "contact-us"},
]
const colors = [
  ["#EFFAF8","primary","neutral-dark-grey"],
  ["#FCF8EB","black-100","neutral-dark-grey"],
  ["#EFFAF8","primary","neutral-dark-grey"],

]
const rounded = [
  "rounded-tl-[250px]", "", "rounded-bl-[250px]"
]
---
<Layout title='Welcome'>
  <TopNavigationBar />
<div
  class="h-[90vh]"
>
    <Hero
      config={
        {
          title: campusConfig?.title,
         
        }
      }
       slideImages={ campusConfig?.images.map(item => ({
        "slide": item, position: 'center'
      }))}
      showSlide={true}
      contentDirection="items-end"
      bgImageBgColor="linear-gradient(359deg, #1B2226 0%, rgba(19, 112, 167, 0.00) 100%)"
    >
    <div slot="title">
      {campusConfig?.title ? <Text type="h2" class="mt-auto font-bold text-yellow">{campusConfig?.title}</Text> : null}
    </div>
    <div slot="subHeading">
      {campusConfig?.description ? <Text type="p" class="max-w-[57ch]">{campusConfig?.description}</Text> : null}
    </div>
    </Hero>
</div>
<!-- <BreadCrumb
    items={navigationData}
    label={"Jump To"}
    class={'bg-white'}
  /> -->
<Showcase
  title="Events Bulletin"
/>

<!-- section  -->
<div class="flex p-xl justify-center gap-l flex-col scroll-mt-24 max-sm:p-l" id="principl-note">
  <Heading first="Principal’s" second={"Note"} subtitle="A GUIDING MESSAGE FROM OUR LEADER" />
  <div class="flex items-center justify-center gap-l max-sm:flex-col">
    <img class="w-[250px]" src={
      leaderMessages?.[0].image
    } alt="">
    <div class="flex flex-col gap-r">
      <Text type="regular" class="max-w-[73ch] text-neutral-dark-grey">
        {leaderMessages?.[0].body}
      </Text>
      <Text type="span" class='text-black-100 uppercase font-display tracking-[1.8px] font-semibold'>
        {leaderMessages?.[0].name}
      </Text>
    </div>
  </div>
</div>
<!-- section  -->
<div id="academics" style="scroll-margin: 60px;" class="p-xl px-0  flex flex-col justify-center gap-l scroll-m-14 max-sm:p-r max-sm:gap-r">
  <Heading first="Academic" second={"Landscape"} subtitle="Empowering Every Learner ">
  </Heading>
  {
    academic?.map((item,index) => {
      return <div class={`flex flex-col px-xl  justify-center gap-l max-sm:p-0`}> 
                <div style={`background: ${colors[index][0]}`}>
                  <div class="flex p-xl pr-0 justify-center gap-xl item-center max-md:flex-col max-md:p-r">
                    <div class="flex gap-r flex-col">
                      <div class="flex gap-r items-center">
                        <Text type='span'>
                          <StarStepIcon
                            step='mini'
                            class={`w-10 h-10 text-${colors[index][1]}`}
                          />
                        </Text>
                        <Text type="h3" class={`text-${colors[index][1]} font-bold`}>
                          {item.title}
                        </Text>
                      </div>
                      <p class="max-w-[70ch] text-xl max-sm:text-base">
                        {item.description}
                      </p>
                      <Text type="subtitle" class={`text-${colors[index][1]} `} style={{textAlign: "left"}}>
                        highlights: 
                      </Text>
                      <ul class="flex flex-col gap-r">
                        {item.highlights?.map(item => {
                          return <li class="text-xl flex gap-[7px] items-center max-sm:text-base">
                              <span class={`text-${colors[index][1]} w-6 h-6`}>
                                <Star
                                  class={`text-${colors[index][1]} w-6 h-6 max-sm:w-5 max-sm:h-5`}
                                />
                              </span>
                              {item}
                            
                            </li>
                        })}
                      </ul>
                    </div>
                    <div class="">
                      <Image 
                        className={`${rounded[index]} max-md:rounded-none h-[95%] object-cover`}
                        src={
                          item.images[0]
                        }
                      />
                    </div>
                </div>
                </div>
              
              </div>
    })
  }
</div>
<!-- section  -->
<div id="life-at-insight" class="px-xl flex flex-col justify-center gap-l scroll-mb-14 max-sm:p-m">
  <div class="flex flex-col gap-l px-xl">
    <Heading first="Life at" second={"Insight"} subtitle="Join Our Commitment to All Learners">
    </Heading>
    <div class="flex items-center gap-l max-md:flex-col">
      <div class="flex gap-l flex-col">
        <p class="text-2xl max-sm:text-base">
          At Insight Academy, we are dedicated to fostering well-rounded individuals by integrating academic education with essential life skills.
        </p>
        <p class="text-2xl max-sm:text-base">
          Embracing a holistic approach, our students spend <span class="text-primary font-bold">4 hours on academics</span> and <span class="text-primary font-bold">and 1 hour engaging in outdoor activities</span>, ensuring a balanced and fulfilling educational journey.    </p>
      </div>
      <img src={campusConfig?.images[0]} class="w-[326px] h-[198px]" />
    </div>
    
  </div>
  <div class="flex justify-center flex-col gap-l">
    <div class="flex gap-r items-center max-md:justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
        <g clip-path="url(#clip0_1125_7345)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.689772 10.6337C0.689772 15.9661 5.01251 20.2889 10.3449 20.2889C15.6773 20.2889 20 15.9661 20 10.6337C20 5.3013 15.6773 0.978516 10.3449 0.978516C5.01251 0.978516 0.689772 5.3013 0.689772 10.6337ZM13.7535 11.0872C14.0363 11.37 14.0363 11.8285 13.7535 12.1113L10.8569 15.0078C10.5741 15.2906 10.1156 15.2906 9.83285 15.0078L6.93631 12.1113C6.65352 11.8285 6.65352 11.37 6.93631 11.0872C7.2191 10.8044 7.6776 10.8044 7.96039 11.0872L9.62075 12.7476V6.77164C9.62075 6.37171 9.94496 6.0475 10.3449 6.0475C10.7448 6.0475 11.069 6.37171 11.069 6.77164V12.7476L12.7294 11.0872C13.0122 10.8044 13.4707 10.8044 13.7535 11.0872Z" fill="#564101"/>
        </g>
        <defs>
          <clipPath id="clip0_1125_7345">
            <rect width="20.6897" height="20.6896" fill="white" transform="matrix(0 1 -1 0 20.6895 0.289062)"/>
          </clipPath>
        </defs>
      </svg>
      <Text type="subtitle" class='text-black-100 text-[16px] text-center'>
        EXPLORE THE activities OFFERED
      </Text>
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
        <g clip-path="url(#clip0_1125_7345)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.689772 10.6337C0.689772 15.9661 5.01251 20.2889 10.3449 20.2889C15.6773 20.2889 20 15.9661 20 10.6337C20 5.3013 15.6773 0.978516 10.3449 0.978516C5.01251 0.978516 0.689772 5.3013 0.689772 10.6337ZM13.7535 11.0872C14.0363 11.37 14.0363 11.8285 13.7535 12.1113L10.8569 15.0078C10.5741 15.2906 10.1156 15.2906 9.83285 15.0078L6.93631 12.1113C6.65352 11.8285 6.65352 11.37 6.93631 11.0872C7.2191 10.8044 7.6776 10.8044 7.96039 11.0872L9.62075 12.7476V6.77164C9.62075 6.37171 9.94496 6.0475 10.3449 6.0475C10.7448 6.0475 11.069 6.37171 11.069 6.77164V12.7476L12.7294 11.0872C13.0122 10.8044 13.4707 10.8044 13.7535 11.0872Z" fill="#564101"/>
        </g>
        <defs>
          <clipPath id="clip0_1125_7345">
            <rect width="20.6897" height="20.6896" fill="white" transform="matrix(0 1 -1 0 20.6895 0.289062)"/>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="flex items-center gap-r overflow-auto max-sm:flex-col max-w-[1600px] scroll-mt-24" id="facilities">
      {
        facilities?.map(item => {
            return  <div class={`flex flex-col max-w-[400px] w-full border-t-0 flex-shrink-0`}
                         
                    >
                        <Image src={item.images[0]} className='border-b-[5px] border-yellow h-[450px] object-cover max-sm:h-[250px]' />
                        <div class="p-l flex flex-col gap-r  border-[1px] border-t-0 border-gray-900">
                          <Text type="h4" class="text-neutral-dark-grey font-display font-bold">
                            {item.title}
                          </Text>
                          <Text type="p" class='text-neutral-dark-grey'>
                            {item.description}
                          </Text>
                        </div>
                    </div>
        })
      }
    </div>
  </div>
  
 
</div>
<!-- section  -->
<div id="achievements" class="p-xl flex flex-col justify-center gap-l  scroll-m-14 max-sm:p-l">
  <div class="px-0 flex flex-col gap-r max-sm:gap-r max-sm:px-0">
    <Heading first="Celebrating" second={"Achievements"} subtitle="INSPIRING FEATS">
    </Heading>
    <Text type="p" class="text-center">We take immense pride in celebrating academic triumphs that reflect the students’ dedication.</Text>
  </div>
  <div class="flex items-center justify-center">
    <div class="flex gap-[2px] overflow-scroll w-full max-sm:flex-col  max-sm:items-center max-sm:gap-[16px] max-w-[1200px] margin-auto">
      {toppers?.map((item,index) => {
        return <TopperCard 
                topper={item}
              />
      })}
  </div>
  </div>
    
</div>
<!-- section  -->

<!-- section  -->
<Testimonial />
<!-- section  -->
<div id="contact-us" style="scroll-margin: 60px;">
  <Connect {
    ...contact
  } />
</div>
<!-- section  -->
<GoToCta />
<!-- section  -->
<Footer />

</Layout>