---
import TopNavigationBar from "../components/TopNavigationBar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "./Hero.astro";
import LeaderShipImage from ".././images/campus/gas/1.jpeg"
import Text from "../components/system/Text.astro";
import Button from "../components/system/Button.astro";
import Image from "../components/system/Image.astro";
import config from "./../../config"
import PreviewImage from "../images/campus/knk/facilities/acitivitiesroom.jpeg";
import Footer from "../components/landingPage/Footer.astro";

const leaderShip = config?.leadership;
const leaderShipData = leaderShip?.data;
---

<Layout title="welcome">
    <div class="flex flex-col">
        <TopNavigationBar />
        <div class="flex flex-col">

            <div class="h-[510px] flex">
                <Hero
                    config={
                        {
                            title: "Our Leadership",
                            // previewImage: LeaderShipImage,
                        }
                    }
                    showCta={false}
                >
                    <Text type="h2" slot="title" class="font-displat font-bold  text-yellow z-10">{"Our Leadership"}</Text>
                    <Text type="p" slot="ctaButton" class="max-w-[60ch]">Guided by the Insight Educational Trust, Insight Academy is committed to delivering high-quality education accessible to all. Our management includes trust members who drive our strategic goals, supported by a diligent governing council ensuring smooth day-to-day operations.</Text>
                    <div
                        slot="previewImage"
                        class=`w-[50%] h-full object-cover object-center  absolute right-0 preview-image
                               max-sm:inset-0 max-sm:w-full
                                `
                       
                        >
                        <Image 
                          slot="previewImage"
                          src={PreviewImage} 
                          className="w-full h-full object-cover object-center  absolute right-0 max-sm:inset-0 max-sm:w-full" /> 
                       <div class="absolute inset-0 h-full w-full hidden max-sm:flex" style=`background: linear-gradient(185deg, #0c497478 4.9%, #142634d4 65.98%),url(${LeaderShipImage})`></div>
                    </div>

                    </div>
              

                </Hero>
            
            </div>
               
            </div>
            <Text type="h3" class="text-center text-3xl font-bold py-12">Trustee & Governing Council Members</Text>

            {Object.keys(leaderShipData).map(item => {
            
                    return <div class="p-md flex flex-col gap-l items-center max-sm:p-r mb-4">
                                 <div class="flex flex-wrap items-center justify-center gap-4">
                                        {
                                            leaderShipData[item].map((item,index) => {
                                                return  <div class="flex flex-col w-[300px] h-[150px] group">
                                                            <div class="
                                                                flex flex-col gap-[14px] border-[1px]
                                                                justify-between
                                                                border-gray-900 p-r flex-1 pb-[20px] #fff
                                                                bg-gradient-to-b group-hover:from-[rgba(255,255,255,0)] group-hover:to-[rgba(245,204,79,0.20)]"
                                                            >
                                                                <Text type="h4" class="font-bold">{item.name}</Text>
                                                                <Text type="subtitle" class="text-black-100 text-[18px]" style={{
                                                                    textAlign: "left"
                                                                }}>{item.role}</Text>
                                                            </div>
                                                        </div>
                                            })
                                        }
                                </div>
                            </div>
                })
            }
        </div>
        <Footer />
    </div>
    <style>
       .preview-image{
        --background-gradient: "linear-gradient(185deg, #0c497478 4.9%, #142634d4 65.98%)",
       }
        /* @media not all and (max-width: 640px){
            .preview-image{
                background-image:url("src/images/campus/gas/1.jpeg")
            }
        } */
    </style>
</Layout>

