---
const { images = [], class: className, target } = Astro.props
---

<div class:list={[
  'flex flex-col justify-center items-center',
  className
]} data-modal-target={target}>
  <div class="w-[357px] h-[333px] max-md:w-[320px] max-md:h-[280px] relative group hover:cursor-pointer">
    <div 
      class="
      bg-white border rounded-md w-full h-full absolute top-0 left-0 p-2
        rotate-[-2.785deg] group-hover:rotate-[-4deg] group-hover:border-[#7AC9FE] transition-transform
        max-md:rotate-[-2.785deg]
      "
      style={{
        boxShadow: '0px 0px 18.19317px 0px rgba(0, 0, 0, 0.30)'
      }}
    >
      <img
        src={images[0].src}
        alt={images[0].alt}
        class="w-full h-full rounded-md object-cover"
      />
    </div>
    <div 
      class="
      bg-white border rounded-md w-full h-full absolute top-0 left-0 p-2
        rotate-[2.026deg] group-hover:rotate-[4.651deg] group-hover:border-[#7AC9FE] transition-transform
        max-md:rotate-[3.026deg] origin-bottom-right
      "
      style={{
        boxShadow: '0px 0px 14.19317px 0px rgba(0, 0, 0, 0.10)'
      }}
    >
      <img
        src={images[1].src}
        alt={images[1].alt}
        class="w-full h-full rounded-md object-cover"
      />
    </div>
  </div>
  <slot />
</div>